body {
    font-family: Arial, serif;
    color: #444;

}

h1 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.currency-div {
    margin: 0 auto;
    width: 500px;
    border: 1px solid #444;
    border-radius: 10px;
}

.currency-description {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}

.form-p {
    text-align: center;
}

.currency-form-div {
    text-align: center;
}

.currency-input-text {
    font-size: 18px;
    border-radius: 5px;
}

.currency-input-submit {
    font-size: 18px;
    border-radius: 5px;

}